* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}

body {
    font-family: "Lato", "Arial", sans-serif;
}


.container {
    max-width: 1140px;
    margin: 0 auto;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}


/*-----------------------------Header-------------------------------*/

.header {
    background: #222222;
    height: 75px;
}


.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

.header__left {
    display: flex;
}

.header-logo__img {
    margin-right: 41px;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-form__img {
    padding-right: 10px;
}

.search__input {
    opacity: 0%;
    transition: opacity 1s;
}

.search-form:hover .search__input {
    opacity: 100%;
}

.menu-burger {
    padding: 20px 30px 20px;
}


.account_img {
    padding-right: 33px;
    padding-left: 10px;
}

.basket {
    display: inline-block;
    position: relative;
}

.basket_number {
    position: absolute;
    right: -8px;
    top: -5px;
    border-radius: 100%;
    width: 19px;
    height: 19px;
    background-color: #F16D7F;
    text-align: center;
    color: #ffffff;
    line-height: 19px;
    font-size: 12px;
}

/*--------------------------------Menu-----------------------------*/

.header__right {
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    padding-left: 34px;
    right: 0;
    left: auto;
    top: 75px;
    width: 232px;
    background-color: #fff;
    left: auto;

    padding-right: 20px;
    height: 763px;
    display: none;
    box-shadow: 1px 5px 30px -15px #000000;
    box-sizing: border-box;
    list-style-type: none;
}


.menu_close {
    display: flex;
    justify-content: end;
    padding-top: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: color 1s;
    color: #6F6E6E;
}

.menu_close:hover {
    color: #F16D7F;
}

.menu_heading {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.menu_block {
    margin-bottom: 12px;
    margin-top: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

.menu_block_link {

    list-style-type: none;
    margin-left: 20px;
}


.menu_link {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #6F6E6E;
    transition: color 1s;
    line-height: 17px;
    padding-bottom: 11px;
}

.menu_link:hover {
    color: #F16D7F;
}


.active {
    display: block;
    z-index: 2;
}

/*--------------------------------Banner------------------------------*/


.banner {
    background: #F1E4E6;
    max-height: 100%;
}

.banner_shop {
    display: flex;

    .photoman img {
        max-width: 100%;
        transform: translateY(3px);
    }
}



.text_block {
    margin: auto;
}

.banner_text {
    display: flex;
    -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.border {
    display: inline;
    background-color: #F16D7F;
    margin: auto;
    width: 12px;
    height: 92px;
    margin-right: 16px;
}

.fashion {
    color: #F16D7F;
}

.brand {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}

.lux {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}

/*---------------------------------offer-------------------------------*/

.offer {
    margin-bottom: 96px;
    margin-top: 65px;
}

.offers__top {
    display: flex;
    justify-content: space-between;

    margin-bottom: 30px;
    max-width: 100%;

    .offer_item {
        max-width: 32%;
    }

    img {
        width: 100%;
        height: 100%;
    }
}


.offer_item {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
}


.offer_item:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px #9e9e9e;
}

.offer_photo {
    filter: brightness(40%);
}


.offer_text {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.offer_tile {
    font-size: 16px;
    font-weight: 400;
}

.offer_heading {
    font-size: 24px;
    font-weight: 700;
    color: #F16D7F;
}

.offer_bottom {
    img {
        width: 100%;
        height: 100%;
    }
}

/*----------------------------items------------------------------*/


.item-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .item_pic,
    .item_link {
        width: 100%;
    }
}

.item {
    margin-bottom: 50px;
}

.item-heading {
    text-align: center;
    font-style: normal;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    font-weight: 400;
}

.desc {
    text-align: center;
    font-style: normal;
    margin-bottom: 48px;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    font-weight: 400;
}

.item_desk {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding-top: 25px;
    padding-bottom: 12px;
    padding-left: 18px;
}

.item_text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding-left: 18px;
    padding-right: 28px;
}

.item_price {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding: 20px 0 20px;
    padding-left: 18px;
}

.item_link {
    display: block;
    text-decoration: none;
    width: 360px;
}

.item_card-box {
    background: #F8F8F8;
    height: 100%;
    width: 360px;
    margin-bottom: 40px;
}

.item_card-box:hover .item_pic {
    filter: brightness(30%);
}

.item_card-basket {
    position: relative;
}

.add {
    display: flex;
    padding: 8px;
    align-items: center;
    border: 1px solid #fff;
    text-decoration: none;
}


.add:hover {
    box-shadow: 0 0 5px #fff;
}

.add-box {
    display: none;
    position: absolute;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;

}

.add-desk {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-left: 11px;
}

.item_card-box:hover .add-box {
    display: flex;
}


.products_all {
    margin: 0 auto;
    display: block;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border: 1px solid #F26376;
    width: 211px;
    height: 47px;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
}

.products_all:hover {
    border: 1px solid #FF6A6A;
    background: #F16D7F;
    color: #FFFFFF;
}

/*--------------------------------info------------------------------*/

.info {
    background-color: #222224;
    height: 340px;
    margin-top: 95px;
}

.advantage {
    display: flex;
    justify-content: space-between;
    font-style: normal;
    ;
}

.advantage_card {
    width: 30%;
    color: #FBFBFB;
    text-align: center;

    margin-top: 8vh;
}

.advantage_card h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-top: 28px;
    margin-bottom: 16px;
}

.advantage_card p {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

.advantage_icon {
    height: 40px;
    animation: button 1s ease 0s infinite normal forwards;
}

/*------------------------promotion-------------------------------*/


.promotion {
    background-image: linear-gradient(90deg, rgba(244, 244, 244, 0.7) 0%, rgba(244, 244, 244, 0.7) 100%), url(../img_index/background_email.jpg);
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    background-position: bottom;
    height: 100%;
}

.promotion_email {
    display: flex;
    justify-content: space-between;
}

.promotion_left {
    width: 360px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #222224;
    align-items: center;
    margin: auto 0;
}

.promotion_italics {
    font-style: italic;
}

.promotion_email img {
    margin-bottom: 30px;
}


.promotion_right {
    height: 448px;
    display: flex;
}

.promotion_right_inside {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #222224;
    margin-bottom: 32px;
}

.promotion_right_inside p {
    font-size: 18px;
    font-weight: 400;
}

.input {
    width: 256px;
    height: 49px;
    background: #E1E1E1;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 49px;

    align-items: center;
    color: #222224;

    box-sizing: border-box;
    border-radius: 20px 0 0 20px;
    padding-left: 22px;
    padding-right: 22px;
    outline: none;
}

.promotion_input {
    display: flex;
}

.button {
    width: 100px;
    height: 49px;
    background: #F16D7F;
    border-radius: 0 20px 20px 0;
    border: 1px solid #F16D7F;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 49px;
    color: #FFFFFF;
}

.button:hover {
    background-color: #E05C6E;
    animation: button 1s ease 0s infinite normal forwards;
}

.promotion_right_align {
    margin: auto;
}

/*----------------------------footer--------------------------------*/

.footer {
    background: #222224;
}

.footer_copyright {
    height: 79px;
    display: flex;
    justify-content: space-between;
}

.footer_copy {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 79px;
    color: #FBFBFB;
}

.footer_icon {
    margin: auto 0;
}

.footer_link {
    line-height: 32px;
    width: 32px;
    height: 32px;
    text-align: center;

    background-color: #FFFFFF;
    color: #000000;
    display: inline-block;
}

.footer_link:hover {
    background-color: #F16D7F;
    color: #FFFFFF
}

/*------------------PRODUCT------------arrivals---------------*/

.arrivals {
    height: 148px;
    background: #F8F3F4;
}

.arrivals_flex {
    display: flex;
    justify-content: space-between;
    height: 148px;
    align-items: center;
    text-transform: uppercase;
}

.arrivals_heading {
    display: block;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.arrivals_menu {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.arrivals_menu::after {
    content: "  /  ";
}

.arrivals_menu:hover {
    color: #F16D7F;
}

.arrivals_menu_pink {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

/*---------------------------slider--------------------------------*/
.slider {
    background: #F7F7F7;
    display: flex;
    height: 777px;
}

.slider_photo {
    display: block;
    margin: auto;
    width: 100%;
}

.slider_next {
    display: flex;
    text-align: center;
    margin: auto 0;
}

.next {
    height: 47px;
    width: 47px;
    background: rgba(42, 42, 42, 0.15);
}


.slider_next .fa {
    line-height: 47px;
    transform: scale(1.3);
    color: #000000;
}

.slider_next .fa:hover {
    color: #F16D7F;
}

.slider_right {
    right: 0;
    left: auto;
    position: absolute;
}

/*--------------------------moschino-----------------------------*/

.moschino {
    max-height: 100%;
    background: #ffffff;
    margin-top: -70px;
    position: relative;
    margin-bottom: 130px;
    border: 1px solid #EAEAEA;
    text-align: center;
}

.moschino__txt {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-transform: uppercase;
    margin-top: 64px;
}

hr {
    width: 63px;
    height: 3px;
    background-color: #F16D7F;
    border: none;
    display: inline-block;
    margin-top: 12px;
    margin-bottom: 12px;
}

.moschino__heading {
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    color: #4D4D4D;
    text-transform: uppercase;
}

.moschino__desc {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    width: 50%;
    display: inline-block;
    margin-top: 48px;
    margin-bottom: 32px;
}

.moschino__price {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
    margin-bottom: 65px;
}

.moschino__line {
    display: inline-block;
    height: 1px;
    background-color: #EAEAEA;
    width: 641px;
    margin-bottom: 65px;
}


.moschino__choice {
    display: flex;
    justify-content: center;
}

summary {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    text-transform: uppercase;
    padding-right: 23px;
    cursor: pointer;
}

.summary summary::-webkit-details-marker {
    display: none;
}

.fa-chevron-down {
    padding-left: 9px;
}

.moschino__basket {
    border: 1px solid #FF6A6A;
    width: 211px;
    height: 47px;
    margin: 49px auto 65px;
}

.moschino__add {
    margin-left: 23px;
}

.moschino__cart {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 47px;
    color: #F26376;
    position: relative;


    .moschino__basket__hover {
        display: none;
        position: absolute;
        left: 36.6px;
        transform: scale(0.85);
    }
}

.moschino__cart:hover {
    border: 1px solid #FF6A6A;
    box-shadow: 0 0 5px #f2a3a3;
    background-color: #FF6A6A;
    color: #FFF;

    .moschino__basket__hover {
        display: block;
    }
}


/*------------------------------item----------------------------*/
.item-indent {
    margin-bottom: 128px;
}

.item-indent .item_card-box {
    margin-bottom: 0;
}

/*-------------------------CATALOG------filter----------------------*/
.filter {
    display: flex;
    margin-top: 51px;
    margin-bottom: 65px;
}

.filter>.moschino__choice {
    margin-left: 304px;
}

.filter_menu {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-left: 10px;
    display: flex;
}

.filter_menu>img,
.filter_block_heading>img {
    padding-left: 11px;
}

.filter_block {
    width: 360px;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    position: absolute;
    display: none;
    box-sizing: border-box;

    margin-top: -20px;
    padding: 13px 15px 16px 16px;


    details:not(:last-child) {
        padding-bottom: 18px;
    }

    .filter_menu_link {
        padding-bottom: 0;
    }
}

.filter_block_heading {
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #EF5B70;
    padding-bottom: 16px;
}


.block_heading {
    display: flex;
    border-bottom: 1px solid #EBEBEB;
    border-left: 5px solid #EF5B70;
    font-weight: 400;
    font-size: 14px;
    line-height: 37px;
    color: #6F6E6E;

    padding-left: 11px;
}


.filter_menu_link {
    padding: 24px 0 13px 18px;
    list-style-type: none;
    color: #6F6E6E;
}


.block_heading:hover {
    color: #F16D7F;
}

.fiiter_size {
    width: 79px;
    height: 103px;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    box-sizing: border-box;
    padding: 9px 0 10px 10px;

    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6F6E6E;

    position: absolute;
    z-index: 2;
}

.fiiter_size label {
    align-items: center;
    display: flex;
}

.fiiter_size input {
    margin-right: 10px;
}

.active {
    display: block;
    z-index: 2;
}

.filter__margin {
    cursor: pointer;
    padding-right: 28px;
}

.filter__marg {
    padding-right: 0px;
}



/*----------------------------catalog------------------------------*/

.catalog .item_card-box {
    margin-bottom: 30px;
}

/*--------------------pagination--------------------------------*/

.pagination {
    width: 282px;
    height: 43px;
    border: 1px solid #EBEBEB;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 43px;
    box-sizing: border-box;

    margin-top: 18px;
}

.pagination>.fa-chevron-right,
.fa-chevron-left {
    transform: scale(1);
}

.page-link {
    color: #EBEBEB;
}

.page-next {
    color: #000000;
}

.page-pink {
    color: #EF5B70;
}

.page-next:hover,
.page-link:hover {
    color: #EF5B70;
}

/*---------------------------registration-------------------------*/

.registration_flex {
    display: flex;
    margin-top: 64px;
    justify-content: space-between;
    margin-bottom: 96px;
}

.form_name {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}

.form_input {
    border: 1px solid #A4A4A4;
    width: 360px;
    height: 45px;

    margin-top: 21px;
    padding-left: 17px;
    padding-right: 17px;
    line-height: 45px;
    font-size: 13px;
}

::placeholder {
    color: #B1B1B1;
    opacity: 80%;
}

.registration_form_input label {
    margin-right: 20px;
    margin-top: 31px;
    margin-bottom: 33px;
    font-weight: 300;
    font-size: 11px;
    line-height: 20px;
    align-items: center;
    display: inline-flex;
    color: #000000;
}

.form_password {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    width: 359px;
    margin-top: 16px;
    margin-bottom: 39px;
}

.button_form {
    height: 50px;
    width: 157px;
    background: #F16D7F;
    font-weight: 400;
    font-size: 14px;
    line-height: 50px;
    color: #FFFFFF;
    border: 1px solid #F16D7F;
    cursor: pointer;
}

.button_form:hover {
    animation: button_form 2s ease 0s infinite normal none;
}

.fa-arrow-right-long {
    padding-left: 20px;
}

.registration_form_input {
    max-width: 35%;
}

.registration_form_txt {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    max-width: 58%;
}

.registration_heading {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.registration_txt {
    margin-top: 22px;
    margin-bottom: 21px;
}


.registration_chek {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
}

.fa-check {
    margin-right: 22px;
    font-weight: 600;
    opacity: 70%;
}

/*--------------------------------cart-------------------------------*/

.shopping {
    margin-top: 96px;
    margin-bottom: 128px;
}

.shopping_info {
    display: flex;
    justify-content: space-between;
}


.shopping_card {
    display: flex;
    width: 652px;
    height: 306px;
    background: #FFFFFF;
    box-shadow: 13px 20px 30px -2px rgba(37, 39, 40, 0.2);
    box-sizing: border-box;
    position: relative;
    margin-bottom: 40px;
}

.shopping_card img {
    width: 262px;
    height: 306px;

}

.shopping_card>a {
    display: inherit;
}

.quantity {
    display: flex;
}

.card_quantity {
    text-align: right;
    border: 1px solid #EAEAEA;
    margin-left: 24px;
    width: 44px;
    height: 24px;
    font-size: 18px;
    line-height: 24px;
    color: #656565;

}

.shopping_card__txt {
    font-weight: 400;
    font-size: 22px;

    color: #575757;
    padding-left: 31px;
    padding-top: 22px;
}


.shopping_card__heading {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    margin-bottom: 42px;
}

.shopping_card__heading:hover {
    color: #F16D7F;
}

.shopping__txt {
    padding-bottom: 6px;
}

.shopping_card__price {
    color: #F16D7F;
}

.fa-xmark {
    color: #575757;
    position: absolute;
    top: 22px;
    right: 22px;
    left: auto;
    transform: scale(1.3);
    cursor: pointer;
}

.fa-xmark:hover {
    color: #F16D7F;
}

.shopping_card_button {
    font-family: 'Lato';
    border: 1px solid #A4A4A4;
    font-weight: 300;
    font-size: 14px;
    line-height: 49px;
    color: #000000;
    background-color: #fff;
    width: 234px;
    height: 49px;
    cursor: pointer;
}

.shopping__button {
    display: flex;
    justify-content: space-between;
    margin-top: 72px;

    .shopping_card_button:hover {
        background-color: #F16D7F;
        color: #FFF;
        border: 1px solid #F16D7F;
    }
}

/*---------------------------right - adress---------------------------*/

.shopping-adress {
    width: 360px;

    :nth-child(3)::placeholder {
        color: #222222;
        opacity: 70%;
    }

    :nth-child(4)::placeholder {
        color: #222222;
        opacity: 70%;
    }
}

.shopping-adress_txt {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

.shopping-adress__input {
    width: 360px;
    height: 45px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 45px;
    border: 1px solid #A4A4A4;
    margin-top: 21px;
    padding-left: 17px;
    padding-right: 17px;
    box-sizing: border-box;
}

.shopping-adress_button {
    width: 100px;
    height: 34px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 34px;
    color: #4A4A4A;
    border: 1px solid #A4A4A4;
    background-color: #FFF;
    margin-top: 24px;
    cursor: pointer;
}

.shopping-adress_button:hover {
    background-color: #F16D7F;
    color: #FFF;
    border: 1px solid #F16D7F;
}

.shopping-adress_checkout {
    width: 360px;
    height: 214px;
    margin-top: 58px;
    background: #F5F3F3;

    padding-right: 34px;
    padding-top: 39px;
    padding-left: 44px;
    box-sizing: border-box;
}

.shopping-adress_sub {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    text-align: end;
    margin-bottom: 12px;
}

.shopping-adress_grand {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    text-align: end;
}

.shopping-adress_span {
    color: #F16D7F;
    font-weight: 900;

}

.shopping-adress_checkout span {
    padding-left: 15px;
}

.shopping-adress__line {
    width: 275px;
    background-color: #E2E2E2;
    height: 1px;
    margin-top: 21px;
    margin-bottom: 17px;
}

.shopping-adress_total {
    width: 273px;
    height: 50px;
    background: #F16D7F;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 50px;
    border: #F16D7F;
    color: #FFFFFF;
    cursor: pointer;
    animation: shopping-adress_total 2s ease 1s infinite normal none;

}